/*GENERAL*/
body
{
    background-image: url(../imgs/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Montenegrin Gothic One", serif;
}

/*TITULO*/
h1
{
    color: white;
    text-align: center;
    font-size: 3em;
}

/*PRINCIPAL*/
.contenedor
{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    color: white;
}

.selector
{
    margin: 20px 0;
    font-size: 1.5em;
}

select
{
    font-size: 1em;
    padding: 10px;
    background: rgba(20, 20, 20, 0.7);
    color: white;
    border: 2px solid crimson;
    border-radius: 6px;
    width: 350px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

button
{
    margin-top: 30px;
    padding: 15px 30px;
    font-size: 1.2em;
    background: linear-gradient(135deg, #ff9797, #b30000);
    color: white;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.4);
    transition: 0.3s ease;
}

button:hover
{
    background: linear-gradient(135deg, #ffb8b8 #000000);
    transform: scale(1.07);
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.6);
}

strong
{
    color: crimson;
}

.historia
{
    margin-top: 40px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    border-left: 4px solid crimson;
    font-size: 1.3em;
}

/*RESPONSIVE*/ 
@media (max-width: 600px) 
{
    body 
    {
        background-size: cover;
        background-attachment: scroll;
    }

    h1 
    {
        font-size: 1.6em;
        padding: 0 10px;
    }

    .contenedor
    {
        width: 95%;
        margin-top: 20px
    }

    .selector 
    {
        font-size: 1.2em;
    }

    select 
    {
        width: 100%;
        max-width: 280px;
        font-size: 1em;
        padding: 8px;
    }

    button 
    {
        width: 100%;
        max-width: 280px;
        font-size: 1.1em;
        padding: 12px;
    }

    #resultado 
    {
        width: 100%;
        padding: 15px;
        font-size: 1.1em;
    }

}

@media (min-width: 601px) and (max-width: 1024px)
{
    h1 
    {
        font-size: 2.2em;
    }

    .contenedor
    {
        width: 85%;
    }

    select
    {
        width: 60%;
        max-width: 400px;
        font-size: 1.2em;
    }

    button 
    {
        font-size: 1.3em;
        padding: 15px 25px;
    }

    #resultado
    {
        font-size: 1.3em;
    }
}